body
{
	background-image:url("images/background2.jpg");
	border: 5px solid black;
	border-style:double;
	font-family:"Lucida Console", Lucida, Monospace;	
}	
p.first
{
	font-weight:bold;
	display: block;
	margin: auto;
	margin-left:100px;
	margin-right:100px;	
	text-align:center;
}
img
{
	border: 2px dotted black;
	display:block;
	margin:auto;
}		
p.second
{
	text-align:justify;
	margin-left:100px;
	margin-right:100px;	
}	
h1
{
	font-size:40px;
	text-align:center;
}	
figcaption
{
	text-align:center;
}	
h2, nav
{
	text-align:center;
}	
	
